.book-header {
  font-family: $font-ui;
  color: $navy;
  font-weight: 600;
  font-size: 30px;
  padding: 10px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 3px;
  background-color: $white;
  @include shadow;
}

.book-content {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: space-between;
}

.sections {
  width: 35%;
  text-align: center;
  ol {
    list-style-type: none;
    li {
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
      background-color: $white;
      @include shadow;
      a {
        text-decoration: none;
        font-family: $font-ui;
        color: $black;
        font-size: 24px;
        line-height: 28px;
      }
    }
  }
}

.description-book {
  width: 55%;
  margin-top: 5px;
  font-family: $font-c;
  color: $black;
  font-size: $font_m;
  letter-spacing: 1px;
  background-color: $white;
  @include shadow;
  padding: 20px;
}

.rules {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .icon {
    width: 5%;
  }
  .meaning {
    width: 90%;
  }
}

.far,
.fas {
  font-size: 20px;
}

.learned {
  color: $green_dark;
}

.difficult {
  color: $red;
}

.extention {
  color: $red;
}
