.words-container {
  width: 80%;
  margin: 0 auto;
}

.navigation-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  border-radius: 5px;
  background-color: $white;
  @include shadow;
  font-size: $font_m;
  .empty {
    width: 40%;
  }
  .pagination-icon {
    display: inline;
    color: $navy;
    font-size: $font_l;
  }
}

.games-menu {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $gray_light;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.games-menu:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color: $yellow_light;
}

.word-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 5px;
  background-color: $white;
  @include shadow;
  margin: 10px;
  padding: 15px;

  .image-container {
    width: 40%;
    .word-img {
      width: 100%;
      padding-top: 10px;
    }
  }

  .some-word {
    width: 55%;
    padding: 5px;
    font-size: $font_s;
    font-family: $font-c;
    line-height: 28px;
    .meaning {
      padding-left: 30px;
      li {
        list-style-type: circle;
      }
    }
  }
}

.user-choose {
  text-align: center;
}

.user-difficult,
.user-learned {
  display: inline;
  color: $gray_dark;
  padding-right: 10px;
}

.specification {
  color: $navy_light;
}
