html {
  font-family: "Comfortaa", cursive;
  font-size: 10px;
}

body {
  background-color: $gray_light;
  overflow-y: scroll;
}

.header,
.footer {
  height: 76px;
  background-color: $white;
  @include shadow;

  &__container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: $page-width-max;
    height: 100%;
  }
}

.main {
  min-height: calc(100vh - 76px * 2);
  padding: 20px 0;

  &__container {
    min-height: calc(100vh - 76px * 2 - 20px * 2);
    margin: 0 auto;
    max-width: $page-width-max;
  }
}
