*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: $gray_light;
  font-family: "Comfortaa", cursive;
  font-size: 10px;
  overflow-y: scroll;
}

.header,
.footer {
  height: 76px;
  background-color: $white;

  &__container {
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid magenta; // tmp -------------------
    height: 100%; // tmp -------------------
  }
}

.main {
  min-height: calc(100vh - 76px * 2);

  &__container {
    margin: 0 auto;
    max-width: 1200px;
    height: 900px; // tmp -------------------
    border: 1px solid magenta; // tmp -------------------
  }
}
